#Ignore github instructions
.github/instructions/
#Ignore vscode workspace files
pta_tsr_collector.code-workspace
#Ignore logs, diagnostics, and PDF files
pta_tsr_data/diagnostics/
pta_tsr_data/logs/
pta_tsr_data/pdfs/
#Ignore datbase archives and backups created during script revision testing
db_archives/
*.bak*